<!DOCTYPE html>
<!--подключение thymeleaf-->
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<!--Элемент <div> является блочным элементом и предназначен для выделения фрагмента документа с целью изменения вида содержимого.-->
<!--в таймлифе есть некое подобие цикла, который проходится по коллекции и выводит каждый элемент в виде html кода-->
<!--th:each похож на foreach в ${} указываем название коллекции, person - временная переменная, указывающая на каждый элемент коллекции-->
<div th:each="person:${people}">
<!--    Тег <a> является одним из важных элементов HTML и предназначен для создания ссылок. -->
<!--    В зависимости от присутствия атрибутов name или href тег <a> устанавливает ссылку или якорь. -->
<!--    Якорем называется закладка внутри страницы, которую можно указать в качестве цели ссылки. -->
<!--    При использовании ссылки, которая указывает на якорь, происходит переход к закладке внутри веб-страницы.-->
    <!--вместо user будет вставлять текс от таймлифа c помощью th:text-->
<!--    с помощью аргумента th:href можем указать ссылку, на которую будет осуществляться перехо, при нажатии на "user"-->
<!--    @{/people/{id}(id = ${person.getId()})}:-->
<!--    @{/people/{id}} - указываем адрес на который нужно переходить-->
<!--    (id = ${person.getId()}) - указываем значение для {id} - временная переменная, id равняется тому, что лежит в person ${}-->
    <a th:href="@{/people/{id}(id = ${person.getId()})}"
       th:text="${person.getName() +', '+ person.getAge()}">user</a>
</div>

<br/>
<hr/>

<a href="/people/new">Create new person</a>

</body>
</html>