<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<!--создаем форму для создания человека-->
<!--в ней укажем таймлиф атрибуты-->
<!--th:method - с каким http методом будет отправлять данная форма th:method="POST"-->
<!--th:action - на какой адрес(URL) эта форма будет обращаться, куда будет передавать свои данные th:action="@{/people}" в @{} пишутся адреса-->
<!--th:object - передаем на вход объект под ключом person (объект класса Person который положили в ключ Model),-->
<!--            к данному объекту обращаемся и для него будет создана форма-->
<!--в форме указываем поля, которые будут назначаться для объекта person(name, age, email)-->
<!--Тег <input> является одним из разносторонних элементов формы и позволяет создавать разные элементы интерфейса и обеспечить взаимодействие с пользователем.-->
<!--Главным образом <input> предназначен для создания текстовых полей, различных кнопок, переключателей и флажков.-->
<!--в type указываем типа вводимых данных-->
<!--th:field ="*{}" в *{} указываем название поля person для которого мы устанваливаем значение в html поле-->
<!--в id указываем id input для создания label-->

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br/>
    <hr/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>